.container{
  background-color: #f8d49d;
  margin-top: 0px;
}
body{
  background-color: #efb08c;
  font-size: 22px;
  font-family: serif;
}
h2{
  font-family: sans-serif;
  font-size:40px;
}
.center {
margin: auto;
  width: 80%;

  padding:40px;

}
