.container{
  background-color: #f4f4f4;
}
body{
  background-color: #f6ecf0;
  font-size: 25px;
  font-family: serif;
}
h2{
  font-family: sans-serif;
  font-family: 40px;
}
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #ffabe1;
  padding: 10px;
}
