body{
  background-color: #faf2f2;
  font-size: 30px;
  font-family: 'Rasa', serif;
  font-style: normal;
  line-height: 1.5em;
}
p{
  font-size: 25px;
}




form{
  margin: 0.4em;
}

.contact-form{
  margin:0px;
  padding: 10px 0px 10px 0px;
  text-align: justify;
  border-radius: 15px 15px 0px 0px;
}

label{
  width:360px;
  margin: 12px;
  padding: 0px 0px ;
  height: 35px;

}
input{
  height: 1.2em;
}
.required{
  color: red;
  padding: 3px;
}
