body {
    background-color: #000000;
    min-height: 100vh;
    font: normal 14px sans-serif;
    padding: 20px;
    padding-bottom: 0;
}

.brandtitle {
  color: #F72020;
  font-family: 'Rasa', serif;
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  padding-left: 20px;
}

.brandtitle:hover {
    color: #fff;
}

.mainav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: padding .3s ease-in-out;
  height: 60px;
}

.butt {
  display: flex;
  padding: 20px;
}

.flex-gap {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
}

.button--sm {
    padding: 2px 16px;
    height: 40px;
    min-width: 120px;
    font-size: 12px;
}
.button {
    font-family: "alliance",mono,sans-serif;
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 4px;
    overflow: hidden;
    background: transparent;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #fff;
    transition: background .3s ease-in-out, border-color .3s ease-in-out,color .3s ease-in-out;
}

.button:before {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
    background: #111111;
    border-radius: 4px;
    z-index: -1;
    transform: translate3d(0, 0, 0);
    transition: background .3s ease-in-out;
}

.button:after {
    background: linear-gradient(267.91deg, #FF9441 9.35%, #F72020 96.48%);
}

.button:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    z-index: -3;
}

a {
    text-decoration: none;
}

a:hover {
    color: #EE5F30;
    text-decoration: none;
}

.carou {
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 0;
  padding: 20px;
  background-image: url('../img/BG-WarImage.jpg');
  height: calc(100vh - 135px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slid {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
}
