body {
  font-family: Rasa-bold;
  text-align: justify;
  font-size: 22px;

}

h1
{
  margin-top: 0;
}

.top {
  font-family: "Rasa-black";
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  padding: 7% 15%;
}

h3 {
  font-family: "Rasa-bold";
  font-size: 2rem;
    padding: 3% 8%;
}

h5{
  font-family: "Rasa-regular";

}




.col-sm-4 {
    padding: 0;
}

.btn {
    font-size: 1.5rem;
}

.btn:focus {
  box-shadow: none;
}

.btn-outline-info{
    background-color: #e9fafc;
}

.btn-outline-primary {
    background-color: #e6f2ff;
}

#buttons{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;

}
#buttons a {
  width: 100%;
  max-width: 240px;
  height: 54px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #ff4655;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: center;
  margin: 10px 0;
}
#buttons a.white:hover > p {
  color: #ece8e1;
}
#buttons a.white > p {
  background: #ece8e1;
  color: rgba(0, 0, 0, 0);
}
#buttons a.white > p span.base {
  border: 1px solid transparent;
}
#buttons a.transparent:hover > p {
  color: #ece8e1;
}
#buttons a.transparent:hover > p span.text {
  box-shadow: 0 0 0 1px #ece8e1;
}
#buttons a.transparent > p {
  color: #ece8e1;
}
#buttons a.transparent > p span.base {
  border: 1px solid #ece8e1;
}
#buttons a:after, div a:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: rgba(0, 0, 0, 0);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
#buttons a:before {
  right: 0;
  left: initial;
}
#buttons a p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#buttons a p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #ff4655;
}
#buttons a p span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: rgba(0, 0, 0, 0);
  position: center;
  transition: 0.3s ease-out all;
}
#buttons a p span.bg {
  left: -5%;
  position: absolute;
  background: #ff4655;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
#buttons a p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#buttons a p span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
#buttons a:hover {
  color: #ffffff;
}
#buttons a:hover span.bg {
  width: 110%;
}
#buttons a:hover span.text:after {
  background: #ece8e1;
}


.testimonial-image{
  width: 30%;
  border-radius: 100%;
  margin: 20px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner{
  padding: 7% 18%;
  background-color: #ccffff;
  height: 700px;
}





#krishna{

  width: 100%;

}
