body {
  font-family: Rasa-bold;
  text-align: justify;
  font-size: 22px;

}

h1 {
  text-align: center;
  margin-top: 0;
}

.intro{
  padding: 7% 14%;
  text-align: justify;


}


h2 {
  font-size: 20px;
  line-height: 25px;
}

h3 {
  font-size: 16px;
  line-height: 27px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #D8D8D8;
  border-top: 1px solid #D8D8D8;
}

hr {
  height: 1px;
  background-color: #d8d8d8;
  border: none;
  width: 100%;
  margin: 0;
}



.card{
  background-color: black;
}

.btn-link{
  color: white;
}

body {
  padding: 50px;
  background: #fff;
}



.button--sm {
    padding: 8px 16px;
    height: 40px;
    min-width: 120px;
    font-size: 12px;
}
.button {
    font-family: "alliance",mono,sans-serif;
    position: relative;
    z-index: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 4px;
    overflow: hidden;
    background: transparent;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #fff;
    transition: background .3s ease-in-out, border-color .3s ease-in-out,color .3s ease-in-out;

}

.button:before {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    top: 2px;
    left: 2px;
    background: #111111;
    border-radius: 4px;
    z-index: -1;
    transform: translate3d(0, 0, 0);
    transition: background .3s ease-in-out;
}

.button:after {
    background: linear-gradient(267.91deg, #FF9441 9.35%, #F72020 96.48%);
}

.button:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    z-index: -3;
}

a {
    text-decoration: none;
}

a:hover {
    color: #EE5F30;
    text-decoration: none;
}



.testimonial-image {
  width: 30%;
  border-radius: 100%;
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner {
  padding: 7% 18%;
  background-color: #0f0f0f;
  height: 500px;
}

#krishna {
  width: 100%;
    padding: 7% 8%;

}

@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.75em;
  font-size: 16px;
  background-color: #222;
  color: #aaa;
}

.simple-container {
  max-width: 675px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 20px;
}

.simple-print {
  fill: white;
  stroke: white;
}

.simple-print svg {
  height: 100%;
}

.simple-close {
  color: white;
  border-color: white;
}

.simple-ext-info {
  border-top: 1px solid #aaa;
}

p {
  font-size: 16px;
}



h2 {
  font-size: 20px;
  line-height: 25px;
}

h3 {
  font-size: 16px;
  line-height: 27px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #D8D8D8;
  border-top: 1px solid #D8D8D8;
}

hr {
  height: 1px;
  background-color: #d8d8d8;
  border: none;
  width: 100%;
  margin: 0px;
}

a[href] {
  color: #1e8ad6;
}

a[href]:hover {
  color: #3ba0e6;
}

img {
  max-width: 100%;
}

li {
  line-height: 1.5em;
}

aside,
[class *="sidebar"],
[id *="sidebar"] {
  max-width: 90%;
  margin: 0 auto;
  border: 1px solid lightgrey;
  padding: 5px 15px;
}

@media (min-width: 1921px) {
  body {
    font-size: 18px;
  }
}
